*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
   font-family: 'Qicksand', sans-serif;
   background-color: black;
}
:root{
    --color:#ff282b;
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    
}
.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: center;

}

.left img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 7px;
}
.right > *{
    margin-bottom: 1.1rem;
    color: #fff;

}
.right h1{
    font-weight: 500;
    background: var(--color);
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 4px;

}
.right h2{
    font-size: 2rem;
    font-weight: 800;

}
.right p{
text-align: justify;
font-size: 20px;
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid var(--color);
    border-radius: 5px;
    position: relative;
    z-index: 1;


}


.btn::after{
    content: "";
    background: var(--color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: width .5s ease-in;

}

.btn:hover::after{
    width: 100%;

}

p a:link, a:visited {

    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


 a:hover, a:active {

    background-color: #ff282b;
}

.alt{
	text-align: center;
	color: white;
  }


@media (max-width:768px){
    .grid{
        grid-template-columns: 1fr;
    }
}

